*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.6;
    font-family: 'Inter',sans-serif;
    display: flex;
    justify-content: center;
}

table{
    width: 800px;
    margin-top: 100px;
    border-collapse: collapse;
}
td,th{
    padding: 1em 2em;
    text-align: left;
}
thead th{
    background-color: #6741d9;
    color:white;
    font-weight: 800;
    width: 25%;

}

tbody tr:nth-child(even){
    background-color: #b197fc;
}
tbody tr:nth-child(odd){
    background-color: #e5dbff;
}