p {
  font-size: 1.2rem;
}
ul {
  list-style: square;
}
ul li {
  font-size: 1rem;
  padding: 5px 0px;
}

h1 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  color: #333;
  margin: 1rem;
  background-color: rgb(194, 193, 193);
}

article {
  margin: 1rem auto;
  max-width: 1100px;
  padding: 0rem 1rem 1rem;
  position: relative;
  border: #333 3px solid;
}
article::before {
  content: 'SALE';
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(-50%, -50%);
}
a {
  font-size: 1.3rem;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
  color: green;
}
button {
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem 2rem;
  transition: all;
  background-color: #333;
  border: #333 2px solid;
  width: 100%;
}
button:hover {
  background-color: white;
  color: #333;
}
.color-pallete {
  width: 400px;
  padding: 10px 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.color-pallete div {
  width: 30px;
  padding-bottom: 30px;
 
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.pink{
  background-color: pink;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.rosybrown{
  background-color: rosybrown;
}