<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Grid</title>
</head>
<body>
    <nav><div>NAV</div></nav>
    <menu>
        <ul>
            <li class="btn">New</li>
            <li class="btn">Reply</li>
            <li class="btn">Forward</li>
            <li class="btn">Mark unread</li>
        </ul>
        <div class="btn-trach btn">Trach</div>
    </menu>
    <section>
        <div class="messages-header">Email 1</div>
        <div class="messages-header">Email 2</div>
        <div class="messages-header">Email 3</div>
        <div class="messages-header">Email 4</div>
        <div class="messages-header">Email 5</div><div class="messages-header">Email 1</div>
        <div class="messages-header">Email 2</div>
        <div class="messages-header">Email 3</div>
        <div class="messages-header">Email 4</div>
        <div class="messages-header">Email 5</div>
        <div class="messages-header">Email 1</div>
        <div class="messages-header">Email 2</div>
        <div class="messages-header">Email 3</div>
        <div class="messages-header">Email 4</div>
        <div class="messages-header">Email 5</div>
        
        <div class="messages-header">Email 1</div>
        <div class="messages-header">Email 2</div>
        <div class="messages-header">Email 3</div>
        <div class="messages-header">Email 4</div>
        <div class="messages-header">Email 5</div><div class="messages-header">Email 1</div>
        <div class="messages-header">Email 2</div>
        <div class="messages-header">Email 3</div>
        <div class="messages-header">Email 4</div>
        <div class="messages-header">Email 5</div>
        <!-- <div class="messages-header">Email 6</div>
        <div class="messages-header">Email 7</div>
        <div class="messages-header">Email 8</div> -->
    </section>
    <main>
    <svg xmlns="http://www.w3.org/2000/svg" class="mail-icon" viewBox="0 0 20 20" fill="currentColor">
  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
</svg>

    </main>
    <aside>
        <div class="aside--contnet"> 
            Additional info
        </div>
    </aside>
</body>
</html>